.line-Red {
  background: rgba(198, 12, 48, 1);
}

.line-Red.disabled {
  background: rgba(198, 12, 48, 0.4);
}

.line-Blue {
  background: rgba(0, 161, 222, 1);
}

.line-Blue.disabled {
  background: rgba(0, 161, 222, 0.4);
}

.line-Brn {
  background: rgba(98, 54, 27, 1);
}

.line-Brn.disabled {
  background: rgba(98, 54, 27, 0.4);
}

.line-G {
  background: rgba(0, 155, 58, 1);
}

.line-G.disabled {
  background: rgba(0, 155, 58, 0.4);
}

.line-Org {
  background: rgba(249, 70, 28, 1);
}

.line-Org.disabled {
  background: rgba(249, 70, 28, 0.4);
}

.line-P {
  background: rgba(80, 35, 152, 1);
}

.line-P.disabled {
  background: rgba(80, 35, 152, 0.4);
}

.line-Pink {
  background: rgba(226, 126, 166, 1);
}

.line-Pink.disabled {
  background: rgba(226, 126, 166, 0.4);
}

.line-Y {
  background: rgba(249, 227, 0, 1);
}

.line-Y.disabled {
  background: rgba(249, 227, 0, 0.4);
}

.double-Red {
  padding: 0.5px;
  border-top: 3px solid #c60c30;
  border-bottom: 3px solid #c60c30;
}

.double-Blue {
  padding: 0.5px;
  border-top: 3px solid #00a1de;
  border-bottom: 3px solid #00a1de;
}

.double-Brn {
  padding: 0.5px;
  border-top: 3px solid #62361b;
  border-bottom: 3px solid #62361b;
}

.double-G {
  padding: 0.5px;
  border-top: 3px solid #009b3a;
  border-bottom: 3px solid #009b3a;
}

.double-Org {
  padding: 0.5px;
  border-top: 3px solid #f9461c;
  border-bottom: 3px solid #f9461c;
}

.double-P {
  padding: 0.5px;
  border-top: 3px solid #522398;
  border-bottom: 3px solid #522398;
}

.double-Pexp {
  padding: 0.5px;
  border-top: 3px solid #522398;
  border-bottom: 3px solid #522398;
}

.double-Pink {
  padding: 0.5px;
  border-top: 3px solid #e27ea6;
  border-bottom: 3px solid #e27ea6;
}

.double-Y {
  padding: 0.5px;
  border-top: 3px solid #f9e300;
  border-bottom: 3px solid #f9e300;
}

hr.line-Red {
  border-top: 1px solid #c60c30;
}

hr.line-Blue {
  border-top: 1px solid #00a1de;
}

hr.line-Brn {
  border-top: 1px solid #62361b;
}

hr.line-G {
  border-top: 1px solid #009b3a;
}

hr.line-Org {
  border-top: 1px solid #f9461c;
}

hr.line-P {
  border-top: 1px solid #522398;
}

hr.line-Pexp {
  border-top: 1px solid #522398;
}

hr.line-Pink {
  border-top: 1px solid #e27ea6;
}

hr.line-Y {
  border-top: 1px solid #f9e300;
}

.line-bottom-Red {
  border-bottom: 4px solid #c60c30;
}

.line-bottom-Blue {
  border-bottom: 4px solid #00a1de;
}

.line-bottom-Brn {
  border-bottom: 4px solid #62361b;
}

.line-bottom-G {
  border-bottom: 4px solid #009b3a;
}

.line-bottom-Org {
  border-bottom: 4px solid #f9461c;
}

.line-bottom-P {
  border-bottom: 4px solid #522398;
}

.line-bottom-Pexp {
  border-bottom: 4px solid #522398;
}

.line-bottom-Pink {
  border-bottom: 4px solid #e27ea6;
}

.line-bottom-Y {
  border-bottom: 4px solid #f9e300;
}
