<div id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#" ng-click="refreshPage()">ctanear.me</a>
    </div>
    <ul class="nav nav-pills pull-right">
      <li ng-class="{active: show('nearby')}"><a href="#" ng-click="goto('nearby')" class="glyphicon glyphicon-map-marker"></a></li>
      <li ng-class="{active: show('tracks')}"><a href="#" ng-click="goto('tracks')" class="glyphicon glyphicon-list"></a></li>
      <li ng-class="{active: show('favorites')}"><a href="#" ng-click="goto('favorites')" class="glyphicon glyphicon-star"></a></li>
    </ul>
  </div>
</div>
