<div class="station">
  <div class="pull-left">
    <a ng-show="currentLine" href="#" ng-click="setLine(currentLine)" class="back-button glyphicon glyphicon-chevron-left"></a>
    <span class="name"><a href="#" ng-click="gotoStation(station)">{{station.Name}}</a></span>
  </div>
  <div class="pull-right distance" ng-show="{{station.Kilometers >= 0}}">
    <span class="number distance">{{station.Kilometers | kmToMiles | number: 2}}</span> mi
  </div>
  <div class="clearfix"></div>
  <div ng-repeat="stop in station.StopArrivals">
    <div class="stop line-{{stop.LineKey}}">
      {{stop.Name}}
    </div>
    <div class="row no-margin">
      <div ng-repeat="arrival in stop.Arrivals.slice(0, 3)" class="col-xs-4 arrival">
        <span ng-hide="arrival.IsApproaching">
          <span class="number">{{arrival.ArrivingInMinutes | number: 0}}</span>
          <ng-pluralize count="arrival.ArrivingInMinutes" when="{1: 'min', 'other': 'mins'}"></ng-pluralize>
        </span>
        <span ng-show="arrival.IsApproaching">
          Approaching
        </span>
        <hr class="line-{{stop.LineKey}}" />
        <span>{{arrival.ArrivingAt | date: "shortTime"}}</span>
      </div>
    </div>
  </div>
</div>
