<div class="station">
  <div class="pull-left">
    <a ng-show="Line.current" href="#" ng-click="Line.set(Line.current)" class="back-button glyphicon glyphicon-chevron-left"></a>
    <span class="name" ng-click="gotoStation(station)">{{station.Name}}</span>
  </div>
  <div class="pull-right distance" ng-show="{{station.Kilometers >= 0}}">
    <span class="number distance">{{station.Kilometers | kmToMiles | number: 2}}</span> mi
  </div>
  <div class="clearfix"></div>
  <div ng-repeat="stop in station.StopArrivals">
    <div class="stop line-{{stop.LineKey}}">
      {{stop.Name}}
    </div>
    <div class="row no-margin">
      <div ng-repeat="arrival in stop.Arrivals.slice(0, 3)" class="col-xs-4 arrival">
        <span ng-hide="arrival.IsApproaching">
          <span class="number">{{arrival.ArrivingInSeconds / 60 | number: 0}}</span> min<span ng-show="Math.round(arrival.ArrivingInSeconds / 60) != 1">s</span>
        </span>
        <span ng-show="arrival.IsApproaching">
          Approaching
        </span>
        <hr class="line-{{stop.LineKey}}" />
        <span>{{arrival.ArrivingAt | date: "shortTime"}}</span>
      </div>
    </div>
  </div>
</div>
