<div ng-show="substate('loading-lines')">
  <spinner message="Loading Lines"></spinner>
</div>
<div ng-show="substate('lines')">
  <div ng-repeat="line in lines" class="line line-{{line.Key}}" ng-click="setLine(line)">
    {{line.Name}}
  </div>
</div>
<div ng-show="substate('loading-stations')">
  <spinner message="Loading Stations"></spinner>
</div>
<div ng-show="substate('stations')">
  <div class="line line-{{currentLine.Key}}">
    <a href="#" ng-click="loadLines()" class="back-button glyphicon glyphicon-chevron-left"></a>
    <span class="name">{{currentLine.Name}}</span>
  </div>
  <table class="table stations-list">
    <tr ng-repeat="station in stations" ng-click="setStation(station)">
      <td>
        {{station.Name}}
      </td>
      <td class="text-right">
        {{station.Kilometers | kmToMiles | number: 2}} mi
      </td>
    </tr>
  </table>
</div>
<div ng-show="substate('loading-station')">
  <spinner message="Loading {{station.Name}}"></spinner>
</div>
<div ng-show="substate('station')">
  <station station="station"></station>
</div>
<div ng-show="substate('error')">
  <p>there was an error</p>
</div>
