<div>

  <div ng-switch on="state">
    <div ng-switch-when="loading-lines">
      <spinner message="Loading Lines"></spinner>
    </div>
    <div ng-switch-when="lines">
      <div ng-repeat="line in lines" class="line line-{{line.Key}}" ng-click="Line.set(line)">
        {{line.Name}}
      </div>
    </div>
    <div ng-switch-when="loading-stations">
      <spinner message="Loading Stations"></spinner>
    </div>
    <div ng-switch-when="stations">
      <p><a href="#" ng-click="loadLines()" class="back-button">Back</a></p>
      <div class="line line-{{Line.current.Key}}"><h2>{{Line.current.Name}}</h2></div>
      <table class="table stations-list">
        <tr ng-repeat="station in stations" ng-click="Station.set(station)">
          <td>
            {{station.Name}}
          </td>
          <td class="text-right">
            {{station.Kilometers | kmToMiles | number: 2}} mi
          </td>
        </tr>
      </table>
    </div>
    <div ng-switch-when="loading-station">
      <spinner message="Loading {{Station.current.Name}}"></spinner>
    </div>
    <div ng-switch-when="station">
      <p ng-show="Line.current"><a href="#" ng-click="Line.set(Line.current)" class="back-button">Back</a></p>
      <station station="station"></station>
    </div>
    <div ng-switch-when="error">
      <p>there was an error</p>
    </div>
    <div ng-switch-default>
      <p>Tracks???</p>
    </div>
  </div>

</div>
